.body {
    margin: 0;
    height: 100vh;
    display: grid;
    grid-template-rows: auto 1fr auto;
    grid-template-columns: 15vw 1fr;
    grid-template-areas:
        "header header"
        "navbar content"
        "footer footer";
}

.header {
    grid-area: header;
    top: 0;
    position: fixed;
    padding: .1%;
    text-align: center;
    background: #00008B;
    color: white;
    width: 100%;
}
.login {
    float: right;
    text-align: center;
    background: #00008B;
    color: white;
    font-size: 1vw;
    padding-right: 1vw;
}
.header_title {
    text-align: center;
    font-weight: bold;
    font-size: 1vw;
    letter-spacing: 5px;
}

.navbar{
    float: left;
    grid-area: navbar;
    text-align: center;
    background: #00008B;
    color: white;
    margin: 0;
    padding: 0;
    width: 15vw;
    height: 100%;
    position: fixed;
    overflow: auto;

    li {
        list-style-type: none;
        padding: 1vw;
        font-size: 1vw;
        border-bottom: 1px solid white;
    }
}

.footer {
    grid-area: footer;
    text-align: center;
    padding: .1%;
    background-color: #00008B;
    color: white;
    position: fixed;
    bottom: 0;
    width: 100%;
}
.float-bottom {position: fixed; bottom: 0;}
a {
    letter-spacing: 2px;
    padding-left: 5px;
    color: white;
}

.content {
    grid-area: content;
    padding: 1%;
    overflow: auto;
    background-color: lightslategray;
}